/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Dark Theme */
body.dark {
  background: #121212;
  color: #ffffff;
}
