/* You can add global styles to this file, and also import other style files */

body {
  background: #ffffff;
  color: #000;
  transition: 0.3s;
}

/* Dark Theme */
body.dark {
  background: #121212;
  color: #ffffff;
}
