<div class="chat-container">

    <!-- Header -->
    <div class="chat-header"> AI Candidate Assistant </div>

    <!-- Messages -->
    <div class="messages">

        @for(message of messages; track $index){
        <div class="message" [class.user]="message.role === 'user'" [class.assistant]="message.role === 'assistant'"> <markdown>{{message.content}}</markdown></div>
        }
    </div>



    <!-- Input -->
    <div class="input-area">

        <input [(ngModel)]="userInput" placeholder="Ask something about candidate..." (keyup.enter)="sendMessage()" />
        <button (click)="sendMessage()"> Send  </button>

    </div>
</div>